<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd
          http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 自动扫描的包 -->
	<context:component-scan base-package="com.tm.controller" />

	<!-- 可代替上面注解的处理器和处理器适配器的配置 建议使用 -->
	<mvc:annotation-driven />
	<!-- 拦截器 -->
	<!-- <mvc:interceptors>
		多个拦截器，顺序执行
		<mvc:interceptor>
			<mvc:mapping path="/admin/admin/**" />
			<mvc:mapping path="/news/admin/**" />
			<mvc:mapping path="/user/admin/**" />
			<mvc:mapping path="/expert/admin/**" />
			<mvc:mapping path="/problem/admin/**" />
			<mvc:mapping path="/solution/admin/**" />
			<bean class="cn.edu.lnu.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors> -->

	<!-- 加<mvc:resources...前，要加上<mvc:annotation-driver/>，否则servlet控件器会解析失败 -->
	<!-- 配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，需要重新设置spring-mvc-3.0.xsd -->
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/css/**" location="/css/" />

	<!--避免IE执行AJAX时，返回JSON出现下载文件 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<!-- 上传文件总共最大10M -->
		<property name="maxUploadSize" value="10485760" />
		<!-- 缓存5M -->
		<property name="maxInMemorySize" value="5242880"></property>
	</bean>

	<!-- 启动SpringMVC的注解功能，完成请求和注解POJO的映射 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />	<!-- JSON转换器 -->
			</list>
		</property>
	</bean>

	<!-- 配置视图解析器 -->
	<!-- 定义跳转的文件的前后缀 , 视图模式配置 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>