.pic{
    margin-bottom: 20px;
}
.main_body{
    width: 100%;
    margin: 0 auto;
}
.warning{
    font-size: 13px!important;
    color: red!important;
    margin-bottom: 0!important;
    line-height: 15px!important;
}

.smallword{
    font-size: 12px;
    font-weight: 100;
}
#myPic{
    width: 200px;
}
#myFile{
    width: 200px;
}
#fabu{
    background-color: #49b0b1;
}
#return{
    display: block;
    float: right;
    font-size: 16px;
    margin-top: 20px;
    font-family: 宋体;
}
#description{
    height: 150px;
}