.header{
    height: 40px;
}
.header span{
    line-height: 40px;
    font-size: 18px;
    margin: 0 15px;
}
.header a{
    line-height: 40px;
    color: #49b0b1;
    font-size: 18px;
    font-weight: bold;
}
.pic{
    margin-bottom: 20px;
}
.main_body{
    width: 50%;
    margin: 0 auto;
}

#description{
    height: 150px;
}
#myPic{
    width: 200px;
}
#myFile{
    width: 200px;
}
#fabu{
    background-color: #49b0b1;
}
